

<nav class="navbar fixed-bottom bg-light">
  <div style="background-color:steelblue;" class="container-fluid-footer">
    <p id="copyright">&copy; 2022 Copyright - EasySurvey Design by Team20 </p>
  </div>
</nav>
</div>