<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 style="color: #6495ed;"><%= title %></h1>

            <body>
              <form class="form" method="POST">
                <div class="form-group">
                    <label for="surveyTitleField">Survey Title</label>
                    <input type="text" class="form-control"
                    id="surveyTitleField"
                    placeholder="Enter the Survey Title"
                    name="title" required>
                </div>

                <div class="form-group">
                    <label for="startDateField">Start Date</label>
                    <input type="datetime-local" class="form-control"
                    id="startDateField"
                    placeholder="dd-mm-yyyy" value=""
                    min="1997-01-01" max="2060-12-31"
                    name="startdate" required>
                </div>

                <div class="form-group">
                  <label for="endDateField">End Date</label>
                  <input type="datetime-local" class="form-control"
                  id="endDateField"
                  placeholder="dd-mm-yyyy" value=""
                  min="1997-01-01" max="2060-12-31"
                  name="enddate" required>
                </div>
              
                <div class="form-group">
                    <label for="activeCheckBoxField">Active</label>
                    <input type="checkbox" class="checkbox"
                    id="activeCheckBoxField"
                    name="active" >
                </div>

                <div class="form-group">
                    <input type="hidden" class="form-control"
                    name="userid" required id="userIdField"
                    value = <%= userId %> >                    
                </div>

                <!-- <div class="form-group">
                  <input type="hidden" class="form-control"
                  id="QField"
                  name="questions" required
                  value = "">                  
                </div> -->

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>                
                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
              </form>
            
            </body>
        </div>

    </div>
</div>