<body>
    <main>
      <h1 class="welcomehome">
        Welcome to Your New Survey Provider!
      </h1>
  
      <h1 class="iam">
        How does it work?
      </h1>
  
      <p class="intro">
        Our servey templates are made simple, stylish and ready to use. Login, edit your questions, set of answers, and share the link with anyone you wish to partecipate.
      </p>
  
      <p class="phome">
        <button class="homebutton" onclick="location.href = 'login'" >
          Get Started Now, It's Free!
        </button>
      </p>
    </main>
  </body>
  
