<div class="container">
    <h1 style="color: #6495ed;">Contact Form</h1>   
</div>

<p style="font-weight: bolder;"> ✍️ Fill the contact form below for direct communication with our team</p> 
              
<table >   
    
    <tr>
        <td style="font-weight: bolder;" >
            <label for="name">Your Name: </label>
            <input type="text" name="Name" id="Name" placeholder="Enter your  First and Last Name" size="96"  maxlength="256"   minlength="100" >
            <br>
            <br>
        </td>       
        
    </tr>

    <tr>
        <td style="font-weight: bolder;" >
            <label class="comment">Comments:</label>
            <textarea name="contact" id="contact" cols="100" rows="5" maxlength="100" placeholder="Enter your  message" maxlength="256"   minlength="100" ></textarea>
       
             
        </td>
    </tr>
    <tr>
        
    </tr>
</table>
</fieldset>
</td>
</tr>

<tr>
<br>
<td class="Btn">
<input style="font-weight: bolder;" type="submit" onclick="Submit()"  value="Submit Form">

<input style="font-weight: bolder;" type="button" onclick="Erase()" value="Reset">
</td>

</tr>
</table>
</form>
<br>
<footer>
    
</footer>

</p>
<br>
</main>
</div>
<br>  
</body>
</body>

<script>
function Submit()
{
   Erase();
   alert("Thank you, Our Team will get back to you asap! 🔜 ");

}

function Erase()
{
    var form2 = document.getElementById("contact").value = "";
    var name2 = document.getElementById("Name").value = "";
    
}
</script>

</html>
